# Dependencies
node_modules
.pnpm-debug.log
*.log

# Build Outputs (Web & Electron)
dist
dist-electron
release
out
build

# Packages & Installers
*.vsix
*.zip
*.dmg
*.exe
*.app

# System & IDE
.DS_Store
.vscode
.idea
